

body{
    background-color: #424242;
}

.nav-extended{
    background-image: url("imagens/capa.png");
    background-size: 80px 80px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}

.tituloSite{
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 3px 3px 8px #000000;
}

a.active, li.active{
    border-bottom: solid 2px #FFFFFF;
    background-color: #212121;
}

.texto{
    font-size: 11pt;
    text-align: justify;
}

.n{
    font-weight: bold;
}

.card{
    border-radius: 20px;
}

.card .card-image img{
    border-radius: 20px 20px 0px 0px;
}

.card .card-action:last-child{
    border-radius: 0px 0px 20px 20px;
}

#Erro{
    font-size: 50px; 
}

.btn404{
    background-color: #4e342e;
    padding: 20px;
    font-size: 25px;
    color:#FFFFFF
}

.btn404:hover{
    border-bottom: solid 2px #FFFFFF;
    background-color: #212121;
    transition-duration: 1s;
}

.img404{
    margin-bottom: 20px;
}

.fadeOut {
    opacity: 0;
    transition: 1s;
}

.descJogos {
    text-align: justify;
}