*{
    font-weight: bold;
}

body{
    background-color: #424242;
}

.nav-extended{
    background-image: url("imagens/capa.png");
    background-size: 80px 80px;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
}

.tituloSite{
    color: #FFFFFF;
    text-shadow: 3px 3px 8px #000000;
}

a.active, li.active{
    border-bottom: solid 2px #FFFFFF;
    background-color: #212121;
}
